---
import LegalLayout from '../../layouts/LegalLayout.astro';
---

<LegalLayout title="Terms of Service" effectiveDate="1 September 2024" noindex={true}>
    <p>Welcome to Autoflow Solutions! These Terms of Service govern your access to and use of our website and services. By using our services, you agree to these terms.</p>

    <h2>Use of Services</h2>
    <p>Our AI and automation solutions are provided for the purpose of enhancing business operations. You are responsible for ensuring that the use of our services is in compliance with applicable laws and regulations.</p>

    <h2>Service Modifications</h2>
    <p>We reserve the right to modify or discontinue any aspect of our services at any time, with or without notice. We will, however, make efforts to inform you of any significant changes that may affect your use of the services.</p>

    <h2>Intellectual Property</h2>
    <p>All content, including software, technology, and trademarks used on this website, are owned by or licensed to Autoflow Solutions. You may not reproduce or redistribute any part of our services without our written consent.</p>

    <h2>Limitations of Liability</h2>
    <p>Autoflow Solutions will not be held liable for any indirect or consequential damages that result from the use of our services. We aim to provide accurate, reliable services, but we do not guarantee their fitness for a specific purpose or uninterrupted functionality.</p>

    <h2>Termination</h2>
    <p>We reserve the right to terminate your access to our services if you breach these Terms of Service. For questions regarding these terms, please contact us at <a href="mailto:info@autoflow-solutions.com">info@autoflow-solutions.com</a></p>
</LegalLayout>
